.create-author-card {
  padding: 24px 36px;
  display: flex;
  justify-content: center;
}

.create-author-form {
  display: flex;
  flex-direction: column;
}

.create-author-form-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
  text-align: center;
}

.create-author-form-item {
  margin-bottom: 16px;
}
